{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review My Code - Register</title>
    <link rel="stylesheet" id="bootstrap-css" href="../../static/codereviewer/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/codereviewer/css/style.css">
    <script src="../../static/codereviewer/js/bootstrap.min.js"></script>
    <script src="../../static/codereviewer/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form method="post">
                        {% csrf_token %}
                        {% include 'codereviewer/base_form.html' with form=form %}
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Create an account
                        </button>
                        <br><br>
                        <div>
                            {% if f.errors %}
                                {% for field in f %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in f.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <hr class="my-4">
                        <button class="btn btn-lg btn-google btn-block text-uppercase"><a href="login.html">Already have
                            an account?</a></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
