{% extends "codereviewer/base_home.html" %}
{% load static %}
{% block title %}
    <title>Review My Code</title>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" style="transparent=50%;">
    <div>
        <p>Coder: jiaxinc1 (jiaxinc1@andrew.cmu.edu) File: HelloWorld.java</p>
    </div>
    <div class="collapse navbar-collapse float-lg-right d-flex flex-row-reverse">
        <form class="form-inline my-2 my-md-0 pl-5">
            <p>wenxuanx is also reviewing this file...</p>
        </form>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="review-block">
<div class="pre" style="line-height:1.5;width:70%;float: left;">
  <!-- <div style="width:70%"> -->
    <code> <font color="orange">public class</font> HelloWorld{</code>
    <code>     <font color="orange">public static void</font> main(<font color="orange">String</font>[] args){</code>
    <code>         <font color="orange">for</font>(<font color="orange">int</font> i=<font color="red">0</font>;i<<font color="red">5</font>;i<font color="orange">++</font>){</code>
    <code style="background-color:#1d4a79;">             <font color="orange">System</font>.out.println(<font color="green">"Hello Web Dev!"</font>);</code>
    <code>         }</code>
    <code>     }</code>
    <code> }</code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
    <code></code>
<!-- </pre> -->
</div>
<div id="comment-block" style="width:29%;line-height:0.7;float:right;font-size:14px;">
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a> wenxuanx comments on Oct, 10: interesting</p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a> weitongz highlights this line</p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
</div>
</div>
{% endblock %}
