@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    /* font-family: 'Poppins', sans-serif; */
    background: #fafafa;
}

p {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1em;
    font-weight: 300;
    line-height: 1.3;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
a.active{
  font-weight: bold;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #323338;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #323338;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #323338;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #404148;
}

ul.contacts {
    padding: 20px;
}

ul.contacts a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.email {
    background: #fff;
    color: #7386D5;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .fancyTab > a {
        font-size:18px;
    }

    .nav > li.fancyTab > a {
        padding:15px 0;
        margin-bottom:inherit;
    }

    .fancyTab .fa {
        font-size:30px;
    }

    .nav-tabs > li.fancyTab > a {
        border-right:1px solid transparent;
        padding-bottom:0;
    }

    .fancyTab.active .fa {
        color: #333;
    }
}

/* pre {
  background-color: #071540;
} */

code {
  /* width: 70%; */
    /* padding:2px; */
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    webkit-box-sizing:border-box;
    display:block;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;

    /* counter-reset: line; */
    counter-increment: line;
    background-color: #071540;
    color: white;
}

code:before{
  color:grey;
    content: counter(line);
}
code:before{
    -webkit-user-select: none;
}

span.cmt-block-span{
  /* display: block; */
  display: none;
    width: 95%;
    height: 100%;
    padding: 20px;
    margin:15px;
    border: 1px solid darkgrey;
    background-color: white;
    border-radius:5px;
}

#left {
    width:40%;
    height:auto;
    float:left;
}

#right {
    width:55%;
    height:auto;
    float:right;
}
#divider{
  width:5%;
  height:auto;
}
