{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>Github Account</title>
    <link rel="stylesheet" href="{% static 'codereviewer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'codereviewer/css/style.css' %}">
    <script src="{% static 'codereviewer/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'codereviewer/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Your Github Account:</h5>
                    <form action="{% url 'github_repo' %}" method="POST">
                        {% csrf_token %}
                        <h4>{{ form.username.label }}</h4>
                        <span>{{ form.username|add_class:'form-control' }}</span> <br>
                        <h4>{{ form.password.label }}</h4>
                        <span>{{ form.password|add_class:'form-control' }}</span> <br>
                        <h4>{{ form.repository.label }}</h4>
                        <span>{{ form.repository|add_class:'form-control' }}</span> <br>
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Submit</button>
                        <br><br>
                        {% for error in validate %}
                            <span class="badge badge-danger">{{ error }}</span>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
