<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/default.css">
    <script src="../../static/codereviewer/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<pre><code class="java"> public class HelloWorld{
     public static void main(String[] args){
         for(int i=0;i<5;i++){
             System.out.println("Hello Web Dev!");
         }
     }
 }</code></pre>
</body>
</html>