{% extends "codereviewer/base_home.html" %}
{% load static %}
{% block title %}
    <title>Review My Code - Home</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div>
                <a class="active"  href="/">Home</a>
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'repo' %}">Repositories</a>
            </div>
            <div class="collapse navbar-collapse float-lg-right d-flex flex-row-reverse">
                <form class="form-inline my-2 my-md-0 pl-5">
                    <input class="form-control" type="text" name="search" placeholder="Search file name"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
        <div id="notification-box">
          <h4>Message Box</h4><br>
          {% for message in messages %}            
            {% if message.is_read %}
            <p><a href="{% url 'review' message.project.id %}">{{ message.sender.user.username }} invites you to review new code!</a></p>
            {% else %}
            <p><a href="{% url 'mark_read_then_review' message.project.id %}" style="font-weight:bold;">[New Message] {{ message.sender.user.username }} invites you to review new code!</a></p>
            {% endif %}            
          {% endfor %}                        
        </div>
{% endblock %}
