<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <title>Review My Code - Login</title>
    <link rel="stylesheet" href="{% static 'codereviewer/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'codereviewer/css/style.css' %}">
    <script src="{% static 'codereviewer/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'codereviewer/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
<div class="">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="username" id="inputUsername" name="username" class="form-control"
                                   placeholder="Username" required autofocus>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control"
                                   placeholder="Password" required>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in
                        </button>
                        <hr class="my-4">
                    
                    </form>
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><a
                            href="{% url 'registration' %}">Register an account</a></button>
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">
                        <a href="{% url 'resetpassword' %}">Forgot your password?</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
