{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
    <link rel="stylesheet" id="bootstrap-css" href="../../static/codereviewer/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/codereviewer/css/style.css">
    <script src="../../static/codereviewer/js/bootstrap.min.js"></script>
    <script src="../../static/codereviewer/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-lg-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Reset your password:</h5>
                    <form action="{% url 'resetpassword' %}" method="POST">
                        {% csrf_token %}
                        <h4>{{ form.email.label }}</h4>
                        <span>{{ form.email|add_class:'form-control' }}</span> <br>
                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Reset</button>
                        <br><br>
                        {% for error in validate %}
                            <span class="badge badge-danger">{{ error }}</span>
                        {% endfor %}
                        {% if email_is_wrong %}
                            <span class="badge badge-danger">Email address does not exist in system</span>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>