{% extends "codereviewer/base_home.html" %}
{% load static %}

{% block title %}
    <title>Review My Code - Repositories</title>
{% endblock %}

{% block navbar %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css"
          media="all"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
            type="text/javascript"></script>
    <script src="{% static 'codereviewer/js/search.js' %}" type="text/javascript"></script>
    <nav class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div>
                <a class="active" href="/">Home</a>
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'repo' %}">Repositories</a>
            </div>
            <div class="ui-widge collapse navbar-collapse float-lg-right d-flex flex-row-reverse">
                <form class="form-inline my-2 my-md-0 pl-5" autocomplete="off" action="{% url 'search' %}"
                      method="post">
                    {% csrf_token %}
                    <input class="form-control" type="text" name="fileSearch" id="fileSearch"
                           placeholder="Search file name">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-10"><h1>Hello, {{ user.username }}</h1></div>

        <div class="col-sm-12 tab-content tab-pane active" name="new-repo">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6>Create a new repository from local files...</h6>
                <form action="{% url 'create_repo' %}" method="post" enctype="multipart/form-data">
                    {{ form }}
                    <input class="btn btn-primary" type="submit" value="Create">
                    {% csrf_token %}
                </form>
                <hr>
                <a href="{% url 'github_repo' %}" class="text-primary"> Or, upload from a Github Link</a>
            </div>
        </div>
        <hr>
        <div class="col-sm-10"><h2>Owning Repos</h2></div>

        <div class="col-sm-12 tab-content tab-pane active" name="current-repo" id="manage">

            {% if owning_repos %}
                {% for repo in owning_repos %}
                    <div class="my-3 p-3 bg-white rounded box-shadow">
                        <h6 class="border-bottom border-gray pb-2 mb-0"><a
                                href={% url 'review' repo.id %}>{{ repo.project_name }}</a></h6>
                        <div class="media text-muted pt-3">
                            <img src="#" alt="" class="mr-2 rounded">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <strong class="text-gray-dark">{{ repo.owner.user.username }} (Owner)</strong>
                                </div>
                                <span class="d-block"><a href="#">{{ repo.owner.user.email }}</a> </span>
                            </div>
                        </div>
                        {% for reviewer in repo.members.all %}
                            <div class="media text-muted pt-3">
                                <img src="#" alt="" class="mr-2 rounded">
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <strong class="text-gray-dark">{{ reviewer.user.username }} (Reviewer)</strong>

                                        <!-- <a id="add_delete" href="#">Remove</a> -->
                                    </div>
                                    <span class="d-block"><a href="#">{{ reviewer.user.email }}</a> </span>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="media text-muted pt-3">
                            <img src="#" alt="" class="mr-2 rounded">
                            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <div class="d-flex justify-content-between align-items-center w-100">
                                    <form action="{% url 'invite' %}" method="post">
                                        <input type="hidden" name="project" value="{{ repo.project_name }}">
                                        <input class="form-control" type="text" name="receiver"
                                               placeholder="Enter username to add a member" style="width: 400px">
                                        <input class="btn btn-primary" type="submit" value="Add">
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h5>No owning repos by now!</h5>
                </div>
            {% endif %}

        </div>
        <div class="col-sm-10"><h2>Reviewing Repos</h2></div>
        <div class="col-sm-12 tab-content tab-pane active" name="current-repo" id="manage">
            <form action="#manage" method="get">
                {% if membering_repos %}
                    {% for repo in membering_repos %}
                        <div class="my-3 p-3 bg-white rounded box-shadow">
                            <h6 class="border-bottom border-gray pb-2 mb-0"><a
                                    href={% url 'review' repo.id %}>{{ repo.project_name }}</a></h6>
                            <div class="media text-muted pt-3">
                                <img src="#" alt="" class="mr-2 rounded">
                                <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                    <div class="d-flex justify-content-between align-items-center w-100">
                                        <strong class="text-gray-dark">{{ repo.owner.user.username }} (Owner)</strong>

                                        <!-- <a id="add_delete" href="#">Remove</a> -->
                                    </div>
                                    <span class="d-block"><a href="#">{{ repo.owner.user.email }}</a> </span>
                                </div>
                            </div>
                            {% for reviewer in repo.members.all %}
                                <div class="media text-muted pt-3">
                                    <img src="#" alt="" class="mr-2 rounded">
                                    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <strong class="text-gray-dark">{{ reviewer.user.username }}
                                                (Reviewer)</strong>
                                        </div>
                                        <span class="d-block"><a href="#">{{ reviewer.user.email }}</a> </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="my-3 p-3 bg-white rounded box-shadow">
                        <h5>No reviewing repos by now!</h5>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}