{% extends "codereviewer/base_home.html" %}
{% load static %}
{% block title %}
    <title>Review My Code</title>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'codereviewer/css/default.css' %}">
<script src="{% static 'codereviewer/js/highlight.pack.js' %}"></script>
<script src="{% static 'codereviewer/js/review.js' %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block leave %}
<li><a href="{% url 'index' %}">Exit Reviewing</a></li>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" style="transparent=50%;">
    <div>
        <p>Owner: {{ repo.owner }} ({{ repo.owner.user.email }}) File: {{ filename }}</p>
    </div>
    <div class="collapse navbar-collapse float-lg-right d-flex flex-row-reverse">
      <!-- TODO other current users on this page  -->
        <!-- <form class="form-inline my-2 my-md-0 pl-5">
            <p>wenxuanx is also reviewing this file...</p>
        </form> -->
    </div>
</nav>
{% endblock %}

{% block content %}
<!-- <div class="review-block"> -->
<!-- <div style="line-height:1.5;width:70%;float: left;"> -->
<div class="code-block" style="line-height:0;width:70%;float:left;">
  <pre>
    {% for line in codes %}
      <code class="java">
        {{ line }}
      </code>
    {% endfor %}
  </pre>

</div>
<div id="comment-block" style="width:29%;float:right;font-size:14px;">
  {% for line in codes %}
    <p style="font-family: sans-serif;margin-bottom: 0rem;line-height:1;"><a id="addCmtButton"+>+</a></p>
  {% endfor %}
<!-- <p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a> wenxuanx comments on Oct, 10: interesting</p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a> weitongz highlights this line</p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p>
<p style="font-family: sans-serif;margin-bottom: 0rem;"><a href="#">+</a></p> -->
</div>
<!-- </div> -->
{% endblock %}
