{% extends "codereviewer/base_home.html" %}
{% load static %}
{% block title %}
    <title>Review My Code</title>
{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'codereviewer/css/default.css' %}">

<script src="{% static 'codereviewer/js/highlight.pack.js' %}"></script>
<script src="{% static 'codereviewer/js/review.js' %}"></script>
<script>$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});</script>
{% endblock %}

{% block leave %}
<li><a href="{% url 'repos' %}">Exit Reviewing</a></li>
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg" style="transparent=50%;">
    <div>
        <p>Owner: {{ repo.owner }} ({{ repo.owner.user.email }}) File: {{ filename }}</p>
    </div>
    <div class="collapse navbar-collapse float-lg-right d-flex flex-row-reverse">

    </div>
</nav>
{% endblock %}

{% block content %}
<div class="col-md-2">
  <a class="badge badge-dark" id="expand-all" style="color:white;">Show All Comments</a>
</div>
<div class="code-block" id="code-block" style="line-height:0.06;background: #F0F0F0;">
  <!-- <pre>
    {% for line in codes %}
      <code class='{{ filetype }}'>
        {{ line }}
      </code>
    {% endfor %}
  </pre> -->


</div>

{% endblock %}
