{% extends "codereviewer/base_home.html" %}
{% load static %}
{% get_media_prefix as PREFIX %}

{% block title %}
    <title>Review My Code - Profile Settings</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div>
                <a href="/">Home</a>
                <a class="active" href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'repo' %}">Repositories</a>
            </div>
            <div class="collapse navbar-collapse float-lg-right d-flex flex-row-reverse">
                <form class="form-inline my-2 my-md-0 pl-5">
                    <input class="form-control" type="text" name="search" placeholder="Search file name"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-10"><h1>{{ this_developer.user.username }}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="avatar">
                {% if this_developer.avatar %}                
                <img src="{{ this_developer.avatar.url }}"
                     alt="Avatar of {{ user.username }}" height="120px" width="120px"></img>
                {% else %}
                <img src="{% static 'codereviewer/img/default_avatar.png' %}"
                     alt="Avatar of {{ user.username }}" height="120px" width="120px"></img>
                {% endif %}  
                {% if not edit_flag %}                                              
                <strong class="avatar"><a href="{% url 'edit_profile' %}">Edit</a></strong>
                {% endif %} 
            </div>            
            
            {% if edit_flag %}
            <div class="text-center">               
                <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
                    {{ form }}
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Update">                    
                </form>                                        
            </div>

            {% else %}                        
            <div class="col-sm-9 tab-content bg-white rounded box-shadow tab-pane" id="settings">                
                <table>
                    <tr>First name: {{ this_developer.user.first_name }}</tr><br>
                    <tr>Last name: {{ this_developer.user.last_name }}</tr><br>                    
                    <tr>Company name: {{ this_developer.company }}</tr><br>
                    <tr>Department name: {{ this_developer.department }}</tr><br>
                    <tr>Group: {{ this_developer.group }}</tr><br>
                    <tr>Title: {{ this_developer.title }}</tr><br>                 
                </table>            
            </div>
            {% endif %}                
    </div>
{% endblock %}
