{% extends "codereviewer/base_home.html" %}
{% load static %}
{% get_media_prefix as PREFIX %}

{% block title %}
    <title>Review My Code - Profile Settings</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <div>
                <a href=" ">Home</a>
                <a class="active" href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'repo' %}">Repositories</a>
            </div>
            <div class="collapse navbar-collapse float-lg-right d-flex flex-row-reverse">
                <form class="form-inline my-2 my-md-0 pl-5">
                    <input class="form-control" type="text" name="search" placeholder="Search file name"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

{% endblock %}


{% block content %}
    <div class="container user-profile">
        <div class="row">
            <div class="col-md-2">
                <div id="profile-image">
                    {% if this_developer.avatar %}
                        <img src="{{ this_developer.avatar.url }}"
                             alt="Avatar of {{ user.username }}" height="120px" width="120px"></img>
                    {% else %}
                        {% load static %}
                        <img id="img" src="{% static 'codereviewer/img/default_avatar.png' %}"
                             class="avatar img-circle img-thumbnail" alt="avatar">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <h5>{{ this_developer.user.username }}</h5>
                    <h6>{{ this_developer.title }}</h6>
                    <p class="proile-active">Last active at <span>{{ active }}</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Statistics</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                {% if not edit_flag %}
                    <a class="badge badge-dark" href="{% url 'edit_profile' %}">Edit profile</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="aboutContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ this_developer.user.first_name }} {{ this_developer.user.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Group</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ this_developer.group }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Department</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ this_developer.department }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Company</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ this_developer.company }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- STAT graph -->
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box__header">
                                        <h3 class="box__header-title">stats</h3>
                                    </div>
                                    <div class="box__body">
                                        <div class="stats stats--main">
                                            <div class="stats__amount">{{ repos }}</div>
                                            <div class="stats__caption">Repositories</div>
                                            <div class="stats__change">
                                                <div class="stats__value stats__value--positive">{{ repoTrend }}</div>
                                                <div class="stats__period">this week</div>
                                            </div>
                                        </div>

                                        <div class="stats">
                                            <div class="stats__amount">{{ comments }}</div>
                                            <div class="stats__caption">contributed comments</div>
                                            <div class="stats__change">
                                                <div class="stats__value">{{ comTrend }}</div>
                                                <div class="stats__period">this week</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}